body{
  background: #08397e;
}
.App {
  text-align: center;
}
.App .head{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #002961;
  border-radius: 0 0 30px 30px ;

}
.App .header{
  display: flex;
  gap: 15px;
  align-items: center;
  flex: 2;
  margin: 0 20px;

}
.App .header img{
  width: 15%;
}
.App .header .title{
  color: white;
}
.App nav{
  height: fit-content;
  padding: 6px;
  flex: 1;
  margin: 0 20px;
}
.App nav a{
  color:  white;
  text-decoration: none; margin: 0 6px;
}

.App .profile{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .profile .prfImg{
  flex: 1;
  border-radius: 350px;
}
.App .profile img{
  flex: 1;
  border: solid white 6px;
  border-radius: 350px;
}

.App .profile .description{
  flex: 1;
  color: white;
  text-align: left;
  margin-right: 85px;
  
  
}
.App .profile .description h1, h2,p{
margin:  0;
}
.App .footer{
  color: white;
}
